<!DOCTYPE html>
<html class="x-admin-sm">
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>物资余额列表</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <link rel="stylesheet" href="./css/font.css">
    <link rel="stylesheet" href="./css/xadmin.css">
    <script src="./lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="./js/xadmin.js"></script>
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="x-nav">
          <span class="layui-breadcrumb">
            <a href="">首页</a>
            <a href="">物资余额</a>
            <a>
              <cite>列表</cite></a>
          </span>
    <a class="layui-btn layui-btn-small" href="javascript:;" style="line-height:1.6em;margin-top:3px;float:right" onclick="refresh();" title="刷新">
        <i class="layui-icon layui-icon-refresh" style="line-height:30px"></i></a>
</div>
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body ">
                    <form class="layui-form layui-col-space5">
                        <div class="layui-inline layui-show-xs-block">
                            <input class="layui-input"  autocomplete="off" placeholder="开始日" name="start" id="start">
                        </div>
                        <div class="layui-inline layui-show-xs-block">
                            <input class="layui-input"  autocomplete="off" placeholder="截止日" name="end" id="end">
                        </div>
                        <div class="layui-inline layui-show-xs-block">
                            <input type="text" id="keyText" name="keywords"  placeholder="请输入关键字" autocomplete="off" class="layui-input">
                        </div>
                        <div class="layui-inline layui-show-xs-block">
                            <button class="layui-btn"  lay-submit="" lay-filter="sreach"><i class="layui-icon">&#xe615;</i></button>
                        </div>
                    </form>
                </div>
                <div class="layui-card-header">

                </div>
                <div class="layui-card-body layui-table-body layui-table-main">
                    <table class="layui-table layui-form">
                        <thead>
                        <tr>
                            <th>
                                <input type="checkbox" lay-filter="checkall" name="" lay-skin="primary">
                            </th>
                            <th>物资名称</th>
                            <th>存放仓库</th>
                            <th>数量</th>
                            <th>单价</th>
                            <th>备注信息</th>
                        </thead>
                        <tbody>
                        <tr th:each="p : ${jsonList}">
                            <td>
                                <input type="checkbox" name="id" lay-skin="primary">
                            </td>
                            <td th:text="${p.Mname}"></td>
                            <td th:text="${p.Rname}"></td>
                            <td th:text="${p.count}"></td>
                            <td th:text="${p.value}"></td>
                            <td th:text="${p.remark}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="layui-card-body ">
                    <div class="page">
                        <p>
                            当前<span th:text="${pageInfo.pageNum}"></span>页,总<span th:text="${pageInfo.pages}"></span>页,
                            共<span th:text="${pageInfo.total}"></span> 条记录
                        </p>
                        <a th:href="@{'/rest?pageNo='+${pageInfo.firstPage}}">第一页</a>
                        <a th:if="${pageInfo.hasPreviousPage}" th:href="@{'/rest?pageNo='+${pageInfo.pageNum-1}}">上一页</a>
                        <a th:if="${pageInfo.hasNextPage}" th:href="@{'/rest?pageNo='+${pageInfo.pageNum+1}}">下一页</a>
                        <a th:href="@{'/rest?pageNo='+${pageInfo.lastPage}}">最后页</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script>
    layui.use(['laydate','form'], function(){
        var laydate = layui.laydate;
        var  form = layui.form;

        // 监听全选
        form.on('checkbox(checkall)', function(data){

            if(data.elem.checked){
                $('tbody input').prop('checked',true);
            }else{
                $('tbody input').prop('checked',false);
            }
            form.render('checkbox');
        });

        //执行一个laydate实例
        laydate.render({
            elem: '#start' //指定元素
        });

        //执行一个laydate实例
        laydate.render({
            elem: '#end' //指定元素
        });


    });

    function refresh() {
        $("#keyText").val("");
        $.get("/rest/refresh",function () {
            layer.msg("刷新成功！",{time:500},function(){ location.reload(); });
        });
    }

</script>
</html>