<!DOCTYPE html>
<html class="x-admin-sm" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>修改用户密码</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <link rel="stylesheet" href="../css/font.css">
    <link rel="stylesheet" href="../css/xadmin.css">
    <script type="text/javascript" src="../lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="../js/xadmin.js"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]--></head>

<body>
<div class="layui-fluid">
    <div class="layui-row">
        <form class="layui-form">
            <div class="layui-form-item">
                <label for="L_username" class="layui-form-label">用户名</label>
                <div class="layui-input-inline">
                    <input type="hidden" id="uId" th:value="${user.uId}">
                    <input type="text" id="L_username" name="username" readonly="readonly" th:value="${user.uName}" class="layui-input"></div>
            </div>
            <div class="layui-form-item">
                <label for="L_repass" class="layui-form-label">
                    <span class="x-red">*</span>旧密码</label>
                <div class="layui-input-inline">
                    <input type="password" id="L_prepass" name="oldpass" required="" lay-verify="required" autocomplete="off" class="layui-input"></div>
            </div>
            <div class="layui-form-item">
                <label for="L_pass" class="layui-form-label">
                    <span class="x-red">*</span>新密码</label>
                <div class="layui-input-inline">
                    <input type="password" id="L_pass" name="newpass" required="" lay-verify="newpass" autocomplete="off" class="layui-input"></div>
                <div class="layui-form-mid layui-word-aux">2到12个字符</div></div>
            <div class="layui-form-item">
                <label for="L_repass" class="layui-form-label">
                    <span class="x-red">*</span>确认密码</label>
                <div class="layui-input-inline">
                    <input type="password" id="L_repass" name="repass" required="" lay-verify="repass" autocomplete="off" class="layui-input"></div>
            </div>
            <div class="layui-form-item">
                <label for="L_repass" class="layui-form-label"></label>
                <button class="layui-btn" lay-filter="save" lay-submit="">确定</button></div>
        </form>
    </div>
</div>
<script>layui.use(['form', 'layer'], function() {
        $ = layui.jquery;
        var form = layui.form,
            layer = layui.layer;

        //自定义验证规则
        form.verify({
            newpass: [/(.+){2,12}$/, '密码必须2到12位'],
            repass: function(value) {
                if ($('#L_pass').val() != $('#L_repass').val()) {
                    return '两次密码不一致';
                }
            }
        });

        //监听提交
        form.on('submit(save)', function(data) {
            //发异步，把数据提交给controller
            var param={
                uId:$("#uId").val(),
                uName:$("#L_prepass").val(),//用uname暂时存放旧密码
                uPwd:$("#L_pass").val(),
            };
            $.ajax({
                url:"/user/updatePwd",
                type:"post",
                data:param,
                // dataType:"text",
                success:function (result) {
                    if(result.code == 200){
                        layer.msg(result.msg, {
                            icon: 6,
                            time: 1000 //1秒关闭（如果不配置，默认是3秒）
                        }, function () {
                            // 获得frame索引
                            var index = parent.layer.getFrameIndex(window.name);
                            //关闭当前frame
                            parent.layer.close(index);
                            parent.location.reload();
                        });
                    }
                    else {
                        layer.msg(result.code+","+result.msg, { icon: 5, shift: 6, time: 2000 },function () {
                            window.location.reload();
                        });
                    }
                    },
                error:function () {
                    layer.msg('执行出错！', { icon: 5, shift: 6, time: 2000 },function () {
                        window.location.reload();
                    });
                    }
                });
                return false;
            });
        $("#L_username").click(function () {
            layer.msg('不能在此处修改用户名！',{time: 1500});
        });
    });</script>
</body>

</html>