<!DOCTYPE html>
<html class="x-admin-sm">
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>用户列表</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <link rel="stylesheet" href="./css/font.css">
    <link rel="stylesheet" href="./css/xadmin.css">
    <script src="./lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="./js/xadmin.js"></script>
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="x-nav">
          <span class="layui-breadcrumb">
            <a href="">首页</a>
            <a href="">用户信息</a>
            <a>
              <cite>列表</cite></a>
          </span>
    <a class="layui-btn layui-btn-small" href="javascript:;" style="line-height:1.6em;margin-top:3px;float:right" onclick="refresh();" title="刷新">
        <i class="layui-icon layui-icon-refresh" style="line-height:30px"></i></a>
</div>
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body ">
                    <form class="layui-form layui-col-space5">
                        <div class="layui-inline layui-show-xs-block">
                            <input class="layui-input"  autocomplete="off" placeholder="开始日" name="start" id="start">
                        </div>
                        <div class="layui-inline layui-show-xs-block">
                            <input class="layui-input"  autocomplete="off" placeholder="截止日" name="end" id="end">
                        </div>
                        <div class="layui-inline layui-show-xs-block">
                            <input type="text" name="keywords"  placeholder="请输入关键字" autocomplete="off" class="layui-input">
                        </div>
                        <div class="layui-inline layui-show-xs-block">
                            <button class="layui-btn"  lay-submit="" lay-filter="sreach"><i class="layui-icon">&#xe615;</i></button>
                        </div>
                    </form>
                </div>
                <div class="layui-card-header">
                    <button class="layui-btn layui-btn-danger" onclick="delAll()"><i class="layui-icon"></i>批量删除</button>
                    <button class="layui-btn"  onclick="xadmin.open('添加用户','/user/add',900,650)"><i class="layui-icon"></i>添加</button>
                </div>
                <div class="layui-card-body layui-table-body layui-table-main">
                    <table class="layui-table layui-form">
                        <thead>
                        <tr>
                            <th>
                                <input type="checkbox" lay-filter="checkall" name="" lay-skin="primary">
                            </th>
                            <th>用户编号</th>
                            <th>用户名</th>
                            <th>密码</th>
                            <th>真实姓名</th>
                            <th>性别</th>
                            <th>简介</th>
                            <th>头像</th>
                            <th>状态</th>
                            <th>操作</th></tr>
                        </thead>
                        <tbody>
                        <tr th:each="u : ${pageInfo.getList()}">
                            <td>
                                <input type="checkbox" name="id" th:value="${u.uId}"   lay-skin="primary">
                            </td>
                            <td th:text="${u.uId}"></td>
                            <td th:text="${u.uName}"></td>
                            <td th:text="${u.uPwd}"></td>
                            <td th:text="${u.actualName}"></td>
                            <td th:text="${u.UserSex}"></td>
                            <td th:text="${u.introduce}"></td>
                            <td th:text="${u.image}"></td>
                            <td class="td-status">
                                <span th:if="${u.state} eq 1" class="layui-btn layui-btn-normal layui-btn-mini">已启用</span>
                                <span th:if="${u.state} eq 0" class="layui-btn layui-btn-normal layui-btn-mini layui-btn-disabled">已停用</span>
                            </td>
                            <td class="td-manage">
                                <a th:if="${u.state} eq 1" onclick="member_stop(this,'10001')" href="javascript:;"  title="启用">
                                    <i class="layui-icon">&#xe601;</i>
                                </a>
                                <a th:if="${u.state} eq 0" onclick="member_stop(this,'10001')" href="javascript:;"  title="禁用">
                                    <i class="layui-icon">&#xe62f;</i>
                                </a>
                                <a title="编辑" th:onclick="|xadmin.open('编辑','/user/update?uid=${u.uId}',900,650)|" href="javascript:;">
                                    <i class="layui-icon">&#xe642;</i>
                                </a>
                                <a title="修改密码" th:onclick="|xadmin.open('修改密码','/user/updatePwd?uid=${u.uId}',600,400)|"href="javascript:;">
                                    <i class="layui-icon">&#xe631;</i>
                                </a>
                                <a title="删除" th:onclick="|member_del(this,${u.uId})|" href="javascript:;">
                                    <i class="layui-icon">&#xe640;</i>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="layui-card-body ">
                    <div class="page">
                        <p>
                            当前<span th:text="${pageInfo.pageNum}"></span>页,总<span th:text="${pageInfo.pages}"></span>页,
                            共<span th:text="${pageInfo.total}"></span> 条记录
                        </p>
                        <a th:href="@{'/user?pageNo='+${pageInfo.firstPage}}">第一页</a>
                        <a th:if="${pageInfo.hasPreviousPage}" th:href="@{'/user?pageNo='+${pageInfo.pageNum-1}}">上一页</a>
                        <a th:if="${pageInfo.hasNextPage}" th:href="@{'/user?pageNo='+${pageInfo.pageNum+1}}">下一页</a>
                        <a th:href="@{'/user?pageNo='+${pageInfo.lastPage}}">最后页</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script>
    layui.use(['laydate','form'], function(){
        var laydate = layui.laydate;
        var  form = layui.form;

        // 监听全选
        form.on('checkbox(checkall)', function(data){

            if(data.elem.checked){
                $('tbody input').prop('checked',true);
            }else{
                $('tbody input').prop('checked',false);
            }
            form.render('checkbox');
        });

        //执行一个laydate实例
        laydate.render({
            elem: '#start' //指定元素
        });

        //执行一个laydate实例
        laydate.render({
            elem: '#end' //指定元素
        });


    });

    /*用户-停用*/
    function member_stop(obj){
        layer.confirm('确认要停/启用吗？',function(index){
            if($(obj).attr('title')=='启用'){
                //发异步把用户状态进行更改
                var param={
                    uId:$(obj).parents("tr").find("input[name='id']").val(),
                    state:0
                };
                $.ajax({
                    url:"/user/updateState",
                    type:"post",
                    data:param,
                    // dataType:"text",
                    success:function (result) {
                        if(result.code == 200){
                            layer.msg(result.msg, {
                                time: 1000 //1秒关闭（如果不配置，默认是3秒）
                            }, function () {
                                $(obj).attr('title','停用')
                                $(obj).find('i').html('&#xe62f;');
                                $(obj).parents("tr").find(".td-status").find('span').addClass('layui-btn-disabled').html('已停用');
                            });
                        }
                        else {
                            layer.msg(result.code+","+result.msg, { icon: 5, shift: 6, time: 2000 },function () {
                                window.location.reload();
                            });
                        }
                    },
                    error:function () {
                        layer.msg('执行出错！', { icon: 5, shift: 6, time: 1000 },function () {
                            window.location.reload();
                        });
                    }
                });
                return false;
            }else{
                var param={
                    uId:$(obj).parents("tr").find("input[name='id']").val(),
                    state:1
                };
                $.ajax({
                    url:"/user/updateState",
                    type:"post",
                    data:param,
                    // dataType:"text",
                    success:function (result) {
                        if(result.code == 200){
                            layer.msg(result.msg, {
                                time: 1000 //1秒关闭（如果不配置，默认是3秒）
                            }, function () {
                                $(obj).attr('title','启用')
                                $(obj).find('i').html('&#xe601;');
                                $(obj).parents("tr").find(".td-status").find('span').removeClass('layui-btn-disabled').html('已启用');
                            });
                        }
                        else {
                            layer.msg(result.code+","+result.msg, { icon: 5, shift: 6, time: 1000 },function () {
                                window.location.reload();
                            });
                        }
                    },
                    error:function () {
                        layer.msg('执行出错！', { icon: 5, shift: 6, time: 2000 },function () {
                            window.location.reload();
                        });
                    }
                });
                return false;
            }
        });
    }

    /*用户-删除*/
    function member_del(obj,id){
        layer.confirm('确认要删除吗？',function(index){
            //发异步删除数据
            $.ajax({
                //要用post方式
                type: "post",
                //方法所在页面和方法名
                url: "user/delete",
                data:{uid:id},
                cache:false,
                // dataType:'json',
                async:true,
                traditional:true,//这个参数必须添加，采用传统方式转换
                success: function () {
                    //返回的数据用data.d获取内容
                    layer.msg("删除成功!", { icon: 6, time: 2000 },function(){
                        $(obj).parents("tr").remove();
                    });
                },
                error: function(XMLHttpRequest, textStatus, errorThrown) {
                    layer.msg('执行出错！', { icon: 5, shift: 6, time: 2000 });
                }
            });
        });
    }

    function delAll (argument) {
        var ids = [];
        // 获取选中的id
        $('tbody input').each(function(index, el) {
            if($(this).prop('checked')){
                ids.push($(this).val())
            }
        });

        layer.confirm('确认要删除吗？'+ids.toString(),function(index){
            //捉到所有被选中的，发异步进行删除
            $.ajax({
                //要用post方式
                type: "post",
                //方法所在页面和方法名
                url: "user/deletes",
                data:{uids:ids},
                cache:false,
                // dataType:'json',
                async:true,
                traditional:true,//这个参数必须添加，采用传统方式转换
                success: function () {
                    //返回的数据用data.d获取内容
                    layer.msg("成功删除" + ids.length + "条用户信息记录!", { icon: 6, time: 2000 },function(){
                        $(".layui-form-checked").not('.header').parents('tr').remove();
                    });
                },
                error: function(XMLHttpRequest, textStatus, errorThrown) {
                    layer.msg('执行出错！', { icon: 5, shift: 6, time: 2000 });
                }
            });
        });
    }

    function refresh() {
        $("#keyText").val("");
        // layer.msg("刷新成功！",{time:500},function(){ location.reload(); });
        $.get("/user/refresh",function () {
            layer.msg("刷新成功！",{time:500},function(){ location.reload(); });
        });
    }

</script>
</html>