<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace = "com.wangxiaolin.materials.mapper.PersonMapper">
    <!-- 查询表中所有的数据 -->
    <select id="queryPersonList" resultType="com.wangxiaolin.materials.entity.Person" >
        select * from person
    </select>
    <!-- 根据ID查询表数据,用于修改-->
    <select id="getPersonById" parameterType="Integer" resultType="com.wangxiaolin.materials.entity.Person">
        <!-- 数据库增加语句：#{}代表占位符 -->
        select * from person where Pid=#{Pid}
    </select>
    <!-- 根据关键字keywords模糊查询,用于搜索功能-->
    <select id="getPersonByKeywords" parameterType="java.lang.String" resultType="com.wangxiaolin.materials.entity.Person">
        <!-- 数据库增加语句：#{}代表占位符 -->
        select * from person where 1=1
        <if test="Keywords!= null and Keywords!= ''">
            AND person.Pid LIKE concat('%',#{Keywords},'%') OR person.Ptype LIKE concat('%',#{Keywords},'%') OR person.Pname LIKE concat('%',#{Keywords},'%') OR  person.Rid= (select repository.Rid from repository where repository.Rname LIKE concat('%',#{Keywords},'%') )
        </if>
    </select>
    <!--    -->
    <select id="getPersonByRidAndPtype" resultType="com.wangxiaolin.materials.entity.Person" >
        select * from person where Ptype=#{Ptype} and Rid=#{Rid}
    </select>
    <!-- 根据ID修改表中数据-->
    <update id="updatePerson" parameterType="com.wangxiaolin.materials.entity.Person">
        update  person set  Ptype = #{Ptype},Pname=#{Pname},Rid=#{Rid} where Pid = #{Pid}
    </update>
    <!-- 根据ID删除表数据 -->
    <delete id="delPersonById" parameterType="Integer">
        delete from person where Pid = #{Pid}
    </delete>
    <!-- 根据IDs批量删除删除表数据 -->
    <delete id="delPersonByIds" parameterType="int">
        delete from person where Pid in
        <foreach item="item" collection="Pids" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>
    <!-- 插入数据，这里ID是自动递增的，所以不需要插入 -->
    <insert id="insertPerson" parameterType="com.wangxiaolin.materials.entity.Person" >
        insert into person(Ptype,Pname,Rid) values(#{Ptype},#{Pname},#{Rid})
    </insert>
</mapper>